In [46]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [47]:
df=pd.read_csv("dataset/insurance.csv")
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [48]:
df=pd.get_dummies(df,columns=["sex","smoker","region"],drop_first=True)
df
df["sex_male"]=df["sex_male"].astype(int)
df["smoker_yes"]=df["smoker_yes"].astype(int)
df["region_northwest"]=df["region_northwest"].astype(int)
df["region_southeast"]=df["region_southeast"].astype(int)
df["region_southwest"]=df["region_southwest"].astype(int)