In [16]:
#MSE
#RMSE
#MAE
#MAPE

In [17]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error,mean_squared_error

In [ ]:
df=pd.read_csv("dataset/insurance.csv")
df.head(5)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [19]:
df=pd.get_dummies(df,columns=['sex','smoker','region'],drop_first=True)
df['sex_male']=df['sex_male'].astype(int)
df["smoker_yes"]=df["smoker_yes"].astype(int)
df["region_southeast"]=df["region_southeast"].astype(int)
df["region_southwest"]=df["region_southwest"].astype(int)
df["region_northwest"]=df["region_northwest"].astype(int)

In [20]:
y=df["charges"]
x=df.drop("charges",axis=1)

In [21]:
#x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.70,random_state=22)

In [22]:
lm=LinearRegression()
model=lm.fit(x,y)
df

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,1,0,1,0,0
1334,18,31.920,0,2205.98080,0,0,0,0,0
1335,18,36.850,0,1629.83350,0,0,0,1,0
1336,21,25.800,0,2007.94500,0,0,0,0,1
1337,61,29.070,0,29141.36030,0,1,1,0,0

In [23]:
model.predict([[50,30,0,1,1,0,0,1]])

C:\Users\dikba\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([33837.25185024])

In [24]:
model.score(x,y)

0.7509130345985207

In [25]:
df_hata=pd.DataFrame()
df_hata["y"]=y
y_tahmin=model.predict(x)

In [26]:
df_hata["tahmin"]=y_tahmin
df_hata["error"]=y-y_tahmin
df_hata["square_hata"]=df_hata["error"]**2
df_hata["abs_error"]=np.abs(df_hata["error"])
df_hata["percent"]=np.abs((y_tahmin-y)/y)
df_hata

,y,tahmin,error,square_hata,abs_error,percent
0,16884.92400,25293.713028,-8408.789028,7.070773e+07,8408.789028,0.498006
1,1725.55230,3448.602834,-1723.050534,2.968903e+06,1723.050534,0.998550
2,4449.46200,6706.988491,-2257.526491,5.096426e+06,2257.526491,0.507371
3,21984.47061,3754.830163,18229.640447,3.323198e+08,18229.640447,0.829205
4,3866.85520,5592.493386,-1725.638186,2.977827e+06,1725.638186,0.446264
...,...,...,...,...,...,...
1333,10600.54830,12351.323686,-1750.775386,3.065214e+06,1750.775386,0.165159
1334,2205.98080,3511.930809,-1305.950009,1.705505e+06,1305.950009,0.592004
1335,1629.83350,4149.132486,-2519.298986,6.346867e+06,2519.298986,1.545740
1336,2007.94500,1246.584939,761.360061,5.796691e+05,761.360061,0.379174
1337,29141.36030,37085.623268,-7944.262968,6.311131e+07,7944.262968,0.272611

In [27]:
df_hata.mean()

y              1.327042e+04
tahmin         1.327042e+04
error          6.253626e-13
square_hata    3.650189e+07
abs_error      4.170887e+03
percent        4.203527e-01
dtype: float64

In [28]:
mean_squared_error(y,y_tahmin)

36501893.00741544

In [29]:
mean_absolute_error(y,y_tahmin)

4170.8868941635865

In [30]:
mean_absolute_percentage_error(y,y_tahmin)

0.42035268473727033